.cardContainer {
    height: 300px;
    width: 220px;
    background-color: #c1c2b6	;
    background-attachment: fixed;
    border-radius: 10px;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-top: 80px;
    color: white;   
}
.cardContainer > img {
   height: 120px;
   width: 190px;
   position: relative;
   margin-top: 60px;
   margin-left: 13px; 
}

.titleCard::before {
    content: " ";
    display: block;
    width: 70%;
    height: 20px;
    border-top: 1.5px solid black;
    margin: 0 auto;
}

.cardContainer > p {
    margin-top: 10px;
    color: black;
}
.cardContainer:hover {
    transform: translate(0, -10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
    transition-duration: 1s;
    
}
.cardContainer > svg {
    color: black;
    margin-left: 190px;
    display: flex;
    align-items:start;
    cursor: pointer;
    
}



