.cardContainer {
    height: 300px;
    width: 220px;
    background-color: #c1c2b6	;
    background-attachment: fixed;
    border-radius: 10px;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    color: white;   
    transition: .7s ease-in-out;
}
.cardContainer > img {
   height: 120px;
   width: 190px;
   position: relative;
   margin-top: 60px;
   margin-left: 13px; 
}

.titleCard::before {
    content: " ";
    display: block;
    width: 70%;
    height: 20px;
    border-top: 1.5px solid black;
    margin: 0 auto;
}

.cardContainer > p {
    margin-top: 10px;
    color: black;
}
.cardContainer:hover {
        transform: translate(0, -8px) scale(1.02);
    }
.cardContainer > svg {
    position: absolute;
    right: 20px;
    top: 15px;
    color: black;
    cursor: pointer;
    transition: .5s;   
}
.add:hover {
    color: green
}
.remove:hover {
    color: rgb(167, 5, 5);
}

