.cardContainer {
    height: 300px;
    width: 200px;
    background-color: #C0C0C0	;
    background-attachment: fixed;
    border-radius: 10px;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-top: 80px;
    color: white;   
}
.cardContainer > img {
   height: 120px;
   width: 190px;
   position: relative;
   margin-top: 70px;
   margin-left: 8px; 
}

.cardContainer > p {
    margin-top: 10px;
    color: black;
}

.titleCard::before {
    content: " ";
    display: block;
    margin: 0 auto;
    border-top: 2px solid black;
    margin-bottom: 8px;
    width: 60%;
}